<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
      
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a >Cadastros</a></li>
                <li><a href="#">Movimento</a></li>
                <li><a href="#">Relatórios</a></li>
                <li><a href="#">Gráficos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
            </ul>
        </div>
      
    </header>
    <div class="container">
        
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Agenda
        </div>
    </footer>
    
</body>
</html>